# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:3001/auth/callback

# Home Assistant
HA_URL=http://homeassistant.local:8123
HA_TOKEN=
# Comma-separated light entity IDs for primary color (Vibrant)
HA_ENTITY_IDS_PRIMARY=light.sala
# Comma-separated light entity IDs for secondary color (DarkVibrant/Muted)
HA_ENTITY_IDS_SECONDARY=light.cocina

# App
PORT=3001
FRONTEND_URL=http://localhost:5173
